.container2 {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    background-image: url('http://120.236.119.11:58011/ivod/jiangsuVR/img/home/bg3.png');
    background-repeat: no-repeat;
}

.container2 .guide {
    width: 1920px;
    height:1080px;
}

.container2 .feedback {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 20px;
    right: 40px;

}
